h1,
.h1 {
    @include responsive_text(40, 50);
}

h2,
.h2 {
    @include responsive_text(28, 36);
}

.anim8 {
    &-blink {
        animation: blink 1s ease-in infinite;
    }
}

.bg {

    @each $name,
    $color in $colors {
        &-#{$name} {
            background-color: $color;
        }
    }
}

.color {
    @each $name,
    $color in $colors {
        &-#{$name} {
            color: $color;
        }
    }
}