@include b(hero) {

    @include m(full) {
        width: 100vw;
        min-height: 100vh;
    }

    @include e(content) {
        flex: 0 auto;

        h2, .h2 {
            border-bottom: 1px solid $primary-color;
            display: inline-block;
        }
    }

    @include e(icon) {
        @include responsive_text(90, 100);
    }
}